.container {
	margin: 10px auto;
	width: 60%;
	border: 2px solid #000000;
	background-color: #283C55;
	padding: 10px;
	border-radius: 20px;
}

.add-btn {
	float: right;
	background-color: red;
	color: #ffffff;
}

.center h1 {
	line-height: 1.5;
	display: inline-block;
	vertical-align: middle;
  }

.header {
	text-align: center;
	color: #F8CC11;

	text-shadow:
		3px 0px 7px rgba(36, 30, 11, 0.8), 
		-3px 0px 7px rgba(36, 30, 11, 0.8), 
	  	0px 4px 7px rgba(36, 30, 11, 0.8);
}