.container {
	margin: auto;
	width: 50%;
	border: 1px solid #336fb4;
	background-color: #156fac;
	padding: 10px;
}

.add-btn {
	float: right;
	background-color: red;
	color: #ffffff;
}

.center h1 {
	line-height: 1.5;
	display: inline-block;
	vertical-align: middle;
  }